<div class="information hidden" data-information-id="<%= service.id %>">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nesciunt unde, veniam ratione quod doloremque id rerum amet quibusdam. Accusamus libero dolores magnam recusandae culpa molestiae, repudiandae debitis dicta magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ipsam tempore maiores, amet magnam. Impedit fugit illum quod. Voluptas eius praesentium eveniet eos cupiditate at, aliquid modi. Nostrum, tenetur, ex!</p>
</div>
